$header-font: Gotham pro;
$main-font: PT sarif;
$bg_color: #2f2e2d;
$btn_color: #c78555;

%headers {
  font-family: $header-font;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
}
%p-setup {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

* {
  margin: 0;
}
