$header-font: Gotham pro;
$main-font: PT sarif;
$bg_color: #2f2e2d;
$btn_color: #c78555;
$path: "../images";
%headers {
  font-family: $header-font;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
}

%btn {
  background: #c78555;
  border: none;
  border-radius: 2px;
}
%p-setup {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

* {
  margin: 0;
}
@media screen and (max-width: 475px) {
  %headers {
    font-size: 58px;
  }
}
