.grid-container {
  //Grid layout setup
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: auto auto auto;
  grid-template-areas: "NAV NAV  NAV" "file APP Map ";
}

.link-1 {
  grid-area: FILE;
}
.link-2 {
  grid-area: MAP;
}

.navbar {
  z-index: 100;
  position: sticky;
  grid-area: NAV;
}

.app {
  @extend %shared-display;
  background: url(#{$path}/background.png) $bg_color;
  grid-area: APP;
}
.appbar {
  z-index: 1;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "NAV" "APP";
  }
}
