

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.app h2{
  @extend %headers;
  padding-top: 90px;
  padding-bottom: 20px;
}
.section-1 > p{
  @extend %p-setup;
  padding-bottom: 28px;
}

.content{
  max-width: 80%;
}

.items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

// @media screen and (max-width: 475px){
//   .app{
//     justify-content: center;
//   }
// }