.app {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto;
  align-items: center;
  color: #ffffff;
  margin-bottom: 6rem;
  @extend %p-setup;
}
.app h2 {
  @extend %headers;
  padding-top: 9rem;
  padding-bottom: 2rem;
}
.section-1 > p {
  @extend %p-setup;
  padding-bottom: 2.8rem;
}

.main {
  position: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 85rem;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-bottom: 10rem;
}

.store-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
}

.location > p {
  @extend %p-setup;

  margin-bottom: 6rem;
}

.files-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  padding-inline-start: 0;
  @extend %file-item-header-style;
}
.files-nav li:hover {
  color: #c78555;
}
.files-nav > li {
  padding-right: 3.8rem;
}
.files-nav-container {
  margin-bottom: 6rem;
}

.footer {
  @extend %p-setup;
  margin-top: 10rem;
  margin-bottom: 17.9rem;
}

@media (max-width: 475px) {
  .app {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 2560px) {
  .main {
    max-width: 1200px;
  }
}
@media (min-width: 476px) {
  .main {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
