%links {
  position: fixed;
  top: 50vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
// NAV CLASSES
.nav {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
  background: #ffffff;
}

.nav-header {
  top: 0;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 86px;
  color: #000000;
}
.nav .nav-header{
margin-left: auto;
margin-right: auto;
}
.nav .nav-btn{
  margin-left: auto;
  margin-right: 60px;
}
.nav-btn {
  width: 176px;
  height: 50px;
  // margin-right: 60px;
  background: #c78555;
  border: none;
  border-radius: 2px;
}

//LINKS TO FILES AND MAP
.link-map {
  @extend %links;
  transform: rotate(90deg);
}

.link-file {
  left: 0;
  @extend %links;
  transform: rotate(-90deg);
}
