%links {
  position: fixed;
  top: 50vh;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

// NAV CLASSES
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 10px;
}

.nav-header {
  top: 0;
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 86px;
  color: #000000;
  margin-right: auto;
  margin-left: 40vw;
}

.nav-btn {
  width: 176px;
  height: 50px;
  margin-left: auto;
  margin-right: 60px;
  @extend %btn;
}

//LINKS TO FILES AND MAP
.link-map {
  @extend %links;
  right: -40px;
  transform: rotate(90deg);
}
.link-file {
  @extend %links;
  left: 0;
  transform: rotate(-90deg);
}
@media (max-width: 818px) {
  .nav-btn {
    margin-right: auto;
  }
  .nav-header {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .link-map,
  .link-file {
    display: none;
  }
}
